<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

    <%= link_to 'Sign in with Spotify', '/auth/spotify' %>

    <%= yield %>
  </body>
</html>
